
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif,"Dancing Script", cursive;
}
body{
    background: #f5f7fa;
    color: #ffffff;
    background: linear-gradient(rgba(42, 62, 123, 0.5), rgba(0, 0, 0, 0.5)), 
        url("../assets/v.jpg") no-repeat center center fixed;
        background-size:cover;
        position: relative;
        height: 100vh;
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); 
  z-index: -1; 
}
.header{
    display: flex;
    align-items: center;
    color: aqua;
    justify-content: space-between;
    padding: 1rem 5%;
    box-shadow: 0 2px 8px rgba(0, 255, 255, 0.486);
    position: sticky;
    /* top: 0; */
    z-index: 1000;
    background: #093b489f;
}
/* .logo{
    display: flex;
    align-items: center;
    padding-right: 50px;
}
.logo img {
  width: 40px;
  height: 40px;
}
.logo h3{
    color: #ffffff;
}
.nav{
    display: flex;
    gap: 70px;
    padding-right: 90PX;
}
.nav a{
    text-decoration: none;
    cursor: pointer;
    color: rgb(255, 255, 255);
}
.nav a:hover{
    color: aqua;
} */
.main{
    text-align: center;
    padding-top: 80px;
    padding-bottom: 40px;
    /* background: linear-gradient(to right, #ffffff2a, #47515730); */
}
.main p{
    font-size: 16px;
    color: aqua;
}
.main h2{
    font-family: "Dancing Script",cursive;
    font-size: 120px;
}
.main h3{
    font-family: cursive;
    font-size: 60px;
}
.login, .signup{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}
.login button, .signup button{
    padding: 10px;
    font-size: 15px;
    font-weight: 600;
    background-color: white;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}
.login button:hover, .signup button:hover{
    background-color: rgb(23, 152, 152);
    color: #ffffff;
}
